---
http_interactions:
- request:
    method: get
    uri: https://app.terraform.io/api/v2/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_KEY
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"f30921f9136e8b9ef75fd15badedbfea"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - HCP Terraform
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.743'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"adam-grare-org","type":"organizations","attributes":{"external-id":"org-1PepsAc4TDWDxyJ9","created-at":"2025-03-17T20:21:44.967Z","email":"adam.grare@ibm.com","session-timeout":null,"session-remember":null,"collaborator-auth-policy":"password","plan-expired":false,"plan-expires-at":null,"plan-is-trial":false,"plan-is-enterprise":false,"plan-identifier":"free_standard","cost-estimation-enabled":false,"managed-resource-count":0,"send-passing-statuses-for-untriggered-speculative-plans":false,"allow-force-delete-workspaces":false,"assessments-enforced":false,"is-in-degraded-mode":false,"default-execution-mode":"remote","remaining-testable-count":5,"aggregated-commit-status-enabled":true,"speculative-plan-management-enabled":true,"name":"adam-grare-org","permissions":{"can-update":true,"can-update-authentication":true,"can-destroy":true,"can-access-via-teams":true,"can-create-module":true,"can-create-team":false,"can-create-workspace":true,"can-manage-users":true,"can-manage-subscription":true,"can-manage-sso":true,"can-update-oauth":true,"can-update-sentinel":true,"can-update-ssh-keys":true,"can-update-api-token":true,"can-traverse":true,"can-view-usage":true,"can-update-agent-pools":true,"can-manage-tags":true,"can-manage-varsets":true,"can-read-varsets":true,"can-manage-public-providers":true,"can-create-provider":true,"can-manage-public-modules":true,"can-manage-custom-providers":true,"can-manage-run-tasks":true,"can-read-run-tasks":true,"can-create-project":true,"can-enable-stacks":true,"can-manage-org-public-providers":false,"can-manage-org-public-modules":false,"can-manage-assessments":true,"can-read-assessments":true,"can-view-explorer":true,"can-deploy-no-code-modules":false,"can-manage-no-code-modules":false,"can-create-change-requests":false,"can-manage-saved-views":true,"can-read-saved-views":true},"stacks-enabled":false,"over-stacks-beta-resource-limit":false,"saml-enabled":false,"fair-run-queuing-enabled":false,"owners-team-saml-role-id":null,"two-factor-conformant":true},"relationships":{"default-agent-pool":{"data":null},"meta":{"links":{"related":"/api/v2/organizations/adam-grare-org/meta"}},"oauth-tokens":{"links":{"related":"/api/v2/organizations/adam-grare-org/oauth-tokens"}},"authentication-token":{"links":{"related":"/api/v2/organizations/adam-grare-org/authentication-token"}},"audit-trails-authentication-token":{"links":{"related":"/api/v2/organizations/adam-grare-org/authentication-token?token=audit-trails"}},"entitlement-set":{"data":{"id":"org-1PepsAc4TDWDxyJ9","type":"entitlement-sets"},"links":{"related":"/api/v2/organizations/adam-grare-org/entitlement-set"}},"subscription":{"data":{"id":"sub-XhDjBqW25YyAMNWs","type":"subscriptions"},"links":{"related":"/api/v2/organizations/adam-grare-org/subscription"}},"default-project":{"data":{"id":"prj-4eoX37Ue9cpX6chg","type":"projects"},"links":{"related":"/api/v2/projects/prj-4eoX37Ue9cpX6chg"}}},"links":{"self":"/api/v2/organizations/adam-grare-org"}},{"id":"infrastructure-management-org","type":"organizations","attributes":{"external-id":"org-LxFkZkxUpWeNDedS","created-at":"2025-03-14T14:19:15.631Z","email":"adam.grare@ibm.com","session-timeout":null,"session-remember":null,"collaborator-auth-policy":"password","plan-expired":false,"plan-expires-at":null,"plan-is-trial":false,"plan-is-enterprise":false,"plan-identifier":"free_standard","cost-estimation-enabled":false,"managed-resource-count":0,"send-p[...]
- request:
    method: get
    uri: https://app.terraform.io/api/v2/organizations/adam-grare-org/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_KEY
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"c4ee3756ac4fdb018709253d3876c812"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - HCP Terraform
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '0.572'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"prj-4eoX37Ue9cpX6chg","type":"projects","attributes":{"name":"Default
        Project","description":null,"created-at":"2025-03-17T20:21:44.997Z","permissions":{"can-read":true,"can-update":true,"can-destroy":true,"can-create-workspace":true,"can-move-workspace":true,"can-move-stack":true,"can-deploy-no-code-modules":true,"can-read-teams":false,"can-manage-tags":true,"can-manage-teams":false,"can-manage-in-hcp":false,"can-manage-ephemeral-workspace-for-projects":false,"can-manage-varsets":true},"workspace-count":0,"team-count":0,"stack-count":0,"auto-destroy-activity-duration":null},"relationships":{"organization":{"data":{"id":"adam-grare-org","type":"organizations"},"links":{"related":"/api/v2/organizations/adam-grare-org"}}},"links":{"self":"/api/v2/projects/prj-4eoX37Ue9cpX6chg"}}],"links":{"self":"https://app.terraform.io/api/v2/organizations/adam-grare-org/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/adam-grare-org/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/adam-grare-org/projects?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"status-counts":{"total":1,"matching":1},"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":1,"total-count":1}}}'
  recorded_at: Fri, 21 Mar 2025 15:20:42 GMT
- request:
    method: get
    uri: https://app.terraform.io/api/v2/organizations/infrastructure-management-org/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_KEY
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"0184b3dc90662e45a3940113888e2321"
      Tfp-Api-Version[...]
- request:
    method: get
    uri: https://app.terraform.io/api/v2/organizations/adam-grare-org/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_KEY
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ecb0bf0fae8b3ca6f01c273f2232976e"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - HCP Terraform
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '0.245'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"self":"https://app.terraform.io/api/v2/organizations/adam-grare-org/workspaces?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","first":"https://app.terraform.io/api/v2/organizations/adam-grare-org/workspaces?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20","prev":null,"next":null,"last":"https://app.terraform.io/api/v2/organizations/adam-grare-org/workspaces?page%5Bnumber%5D=1\u0026page%5Bsize%5D=20"},"meta":{"status-counts":{"pending":0,"fetching":0,"fetching-completed":0,"pre-plan-running":0,"pre-plan-completed":0,"queuing":0,"plan-queued":0,"planning":0,"planned":0,"confirmed":0,"queuing-apply":0,"apply-queued":0,"applying":0,"applied":0,"discarded":0,"errored":0,"canceled":0,"cost-estimating":0,"cost-estimated":0,"policy-checking":0,"policy-override":0,"policy-checked":0,"policy-soft-failed":0,"planned-and-finished":0,"planned-and-saved":0,"post-plan-running":0,"post-plan-completed":0,"pre-apply-running":0,"pre-apply-completed":0,"post-apply-running":0,"post-apply-completed":0,"assessing":0,"assessed":0,"pre-plan-awaiting-decision":0,"post-plan-awaiting-decision":0,"pre-apply-awaiting-decision":0,"none":0,"total":0},"pagination":{"current-page":1,"page-size":20,"prev-page":null,"next-page":null,"total-pages":0,"total-count":0}}}'
  recorded_at: Fri, 21 Mar 2025 15:20:42 GMT
- request:
    method: get
    uri: https://app.terraform.io/api/v2/organizations/infrastructure-management-org/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_KEY
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"3a132ff4360930476102f1683f252ffc"
      Tfp-Api-Version:
      - '2.6'
      Tfp-Appname:
      - HCP Terraform
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ws-BkpXRVrXTfUNXuxT","type":"workspaces","attributes":{"allow-destroy-plan":true,"auto-apply":false,"auto-apply-run-trigger":false,"auto-destroy-activity-duration":null,"auto-destroy-at":null,"auto-destroy-status":null,"inherits-project-auto-destroy":true,"created-at":"2025-03-19T19:21:51.662Z","environment":"default","locked":false,"name":"terraform-test","queue-all-runs":false,"speculative-enabled":true,"structured-run-output-enabled":true,"terraform-version":"1.11.2","working-directory":"","global-remote-state":false,"updated-at":"2025-03-19T20:02:33.212Z","resource-count":0,"apply-duration-average":null,"plan-duration-average":null,"policy-check-failures":0,"run-failures":1,"workspace-kpis-runs-count":1,"unarchived-workspace-change-requests-count":0,"latest-change-at":"2025-03-19T19:21:51.662Z","operations":true,"execution-mode":"remote","vcs-repo":{"branch":"master","ingress-submodules":false,"tags-regex":null,"identifier":"agrare/terraform-test","display-identifier":"agrare/terraform-test","github-app-installation-id":"ghain-jo5KnRdRcZpXuFpC","repository-http-url":"https://github.com/agrare/terraform-test","service-provider":"github_app"},"vcs-repo-identifier":"agrare/terraform-test","permissions":{"can-update":true,"can-destroy":true,"can-queue-run":true,"can-read-run":true,"can-read-variable":true,"can-update-variable":true,"can-read-state-versions":true,"can-read-state-outputs":true,"can-create-state-versions":true,"can-queue-apply":true,"can-lock":true,"can-unlock":true,"can-force-unlock":true,"can-read-settings":true,"can-manage-tags":true,"can-manage-run-tasks":true,"can-force-delete":true,"can-manage-assessments":true,"can-manage-ephemeral-workspaces":false,"can-read-assessment-results":true,"can-read-change-requests":false,"can-update-change-requests":false,"can-queue-destroy":true},"actions":{"is-destroyable":true},"description":null,"file-triggers-enabled":false,"trigger-prefixes":[],"trigger-patterns":[],"assessments-enabled":false,"last-assessment-result-at":null,"locked-reason":"","source":"tfe-ui","source-name":null,"source-url":null,"tag-names":[],"setting-overwrites":{"execution-mode":false,"agent-pool":false}},"relationships":{"organization":{"data":{"id":"infrastructure-management-org","type":"organizations"}},"current-run":{"data":{"id":"run-cRY3MuG7eHhBLRZd","type":"runs"},"links":{"related":"/api/v2/runs/run-cRY3MuG7eHhBLRZd"}},"latest-run":{"data":{"id":"run-cRY3MuG7eHhBLRZd","type":"runs"},"links":{"related":"/api/v2/runs/run-cRY3MuG7eHhBLRZd"}},"outputs":{"data":[]},"remote-state-consumers":{"links":{"related":"/api/v2/workspaces/ws-BkpXRVrXTfUNXuxT/relationships/remote-state-consumers"}},"current-state-version":{"data":null},"current-configuration-version":{"data":{"id":"cv-8aDpqaLbEnysWCYA","type":"configuration-versions"},"links":{"related":"/api/v2/configuration-versions/cv-8aDpqaLbEnysWCYA"}},"agent-pool":{"data":null},"readme":{"data":{"id":"3357711","type":"workspace-readme"}},"project":{"data":{"id":"prj-r5TkM99gwDq5geZE","type":"projects"}},"current-assessment-result":{"data":null},"vars":{"data":[{"id":"var-CRVmqBvjRw5ExCL5","type":"vars"}]}},"links":{"self":"/api/v2/organizations/infrastructure-management-org/workspaces/terraform-test","self-html":"/app/infrastructure-management-org/workspaces/terraform-test"}},{"id":"ws-bmpqJZuiyPB7MgEU","type":"workspaces","attributes":{"allow-destroy-plan":true,"auto-apply":false,"auto-apply-run-trigger":false,"auto-destroy-activity-duration":null,"auto-destroy-at":null,"auto-destroy-status":null,"inherits-project-auto-destroy":true,"created-at":"2025-03-17T15:37:00.285Z","environment":"default","locked":false,"name":"test-workspace","queue-all-runs":false,"speculative-enabled":true,"structured-run-out[...]
